table {
    border-collapse: collapse;
}
td {
    padding: 10px;
    background-color: salmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, td {
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
