header{
    background-color: rgb(148, 253, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}
main{
    text-align: center;
    padding: 50px;
    font-size: 1em;
}
#word{
    text-align: center;
    height: 20px;
    width: 120px;
}
.sucesso{
    background-color: green;
}
.quase{
    background-color: yellow;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}